<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicaPool">
        <activity
            android:name=".queen5"
            android:exported="true" />
        <activity
            android:name=".queen4"
            android:exported="true" />
        <activity
            android:name=".queen3"
            android:exported="true" />
        <activity
            android:name=".queen2"
            android:exported="true" />
        <activity
            android:name=".queen1"
            android:exported="true" />
        <activity
            android:name=".pedro5"
            android:exported="true" />
        <activity
            android:name=".pedro4"
            android:exported="true" />
        <activity
            android:name=".pedro3"
            android:exported="true" />
        <activity
            android:name=".pedro2"
            android:exported="true" />
        <activity
            android:name=".pedro1"
            android:exported="true" />
        <activity
            android:name=".maricarmen5"
            android:exported="true" />
        <activity
            android:name=".maricarmen4"
            android:exported="true" />
        <activity
            android:name=".maricarmen3"
            android:exported="true" />
        <activity
            android:name=".maricarmen2"
            android:exported="true" />
        <activity
            android:name=".maricarmen1"
            android:exported="true" />
        <activity
            android:name=".jeanette5"
            android:exported="true" />
        <activity
            android:name=".jeanette4"
            android:exported="true" />
        <activity
            android:name=".jeanette3"
            android:exported="true" />
        <activity
            android:name=".jeanette2"
            android:exported="true" />
        <activity
            android:name=".jeanette"
            android:exported="true" />
        <activity
            android:name=".MainActivity14"
            android:exported="true" />
        <activity
            android:name=".MainActivity13"
            android:exported="true" />
        <activity
            android:name=".MainActivity12"
            android:exported="true" />
        <activity
            android:name=".MainActivity11"
            android:exported="true" />
        <activity
            android:name=".MainActivity10"
            android:exported="true" />
        <activity
            android:name=".MainActivity9"
            android:exported="true" />
        <activity
            android:name=".MainActivity8"
            android:exported="true" />
        <activity
            android:name=".MainActivity7"
            android:exported="true" />
        <activity
            android:name=".MainActivity6"
            android:exported="true" />
        <activity
            android:name=".MainActivity5"
            android:exported="true" />
        <activity
            android:name=".MainActivity4"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>